body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0a0a0aa5;
}

#game-container {
    border: 2px solid #000;
}

canvas {
    display: block;
    background-color: #70c5ce;
}
